// You can add CSS rules here that will be inlined into each document.
// .sidebar a {
//   text-shadow: rgba(0, 0, 0, 0.25) 0.1rem 0.1rem 0.15rem;
// }
h2, h3{
    margin: 1.5rem 0 1rem 0 !important;
}
h2{
    border-bottom: solid 3px #ebebeb;
    padding-bottom: 9.25px;
}
h2 > strong{
    border-bottom: solid 3px pink;
    padding: 0px 5px 11px 0px;
}
h2.h1{
    border: none;
}
table{
    margin: 0 !important;
    width: 100% !important;
}
table > thead, table > tbody{
    width: 100% !important;
}