.dl-table {
  a {
    @supports ((text-decoration-thickness: initial) and (text-underline-offset: initial)) {
      text-underline-offset: .8rem;
    }
    @supports not ((text-decoration-thickness: initial) and (text-underline-offset: initial)) {
      padding-bottom: .45rem;
    }
  }

  .btn, .gumroad-button  {
    margin: 1rem 0;
  }
}
.sidebar-sticky {
  height: 100%;
  //padding-top: 13%;
  position: relative;
  width: 300px;
}
.sidebar-about {
  padding-bottom:10%;
}

.spread-btn{
  left: 7%;
  position: absolute;
  padding: 0;
  border: none;
  background: none;
  color: #ffffff;
  cursor: pointer;
}

.spread-btn:hover{
  color: grey;
}
.sidebar a, .sidebar-about > p{
  color: #ffffff;
}

.menu-wrapper{
  display: flex;
  text-align: left;
  margin-left: 10%;
  margin-bottom: 0%;
  
  input[type=checkbox]{
    display: none;
  }
  
  input[type=checkbox] ~ ul{
    display: none;
    list-style: none;
  }
  
  input[type=checkbox]:checked ~ ul{
    display: block;
  }
}


@font-face {
  font-family: 'RegularFont';
  font-weight: 400;
  font-style: normal;
  src: url('https://cdn.jsdelivr.net/gh/webfontworld/tmoney/TmoneyRoundWind-Regular.eot');
  src: url('https://cdn.jsdelivr.net/gh/webfontworld/tmoney/TmoneyRoundWind-Regular.eot?#iefix') format('embedded-opentype'),
      url('https://cdn.jsdelivr.net/gh/webfontworld/tmoney/TmoneyRoundWind-Regular.woff2') format('woff2'),
      url('https://cdn.jsdelivr.net/gh/webfontworld/tmoney/TmoneyRoundWind-Regular.woff') format('woff'),
      url('https://cdn.jsdelivr.net/gh/webfontworld/tmoney/TmoneyRoundWind-Regular.ttf') format("truetype");
  font-display: swap;
}


@font-face {
    font-family: 'MaruBuri';
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-Regular.eot);
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-Regular.eot?#iefix) format("embedded-opentype"), url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-Regular.woff2) format("woff2"), url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-Regular.woff) format("woff"), url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-Regular.ttf) format("truetype");
}
a::after{
  display: none;
}

.grid_4{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 10px;
}
.grid_3{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 10px;
  
}
.grid_3 > a, .grid_4 > a{
  text-decoration: none;
}
.grid_3 > a > img{
  border-radius: 10px 10px 0px 0px;
}
.circle_s{
  border-radius: 150px;
  width: 90px !important;
  height: 90px !important;
}
.grid_3 > a{
  border: solid 1px;
  border-radius: 10px;
	text-align: center;
}
.grid_4 > a{
  border: solid 1px;
  border-radius: 20px;
  text-align: center;
  padding: 20px 20px 15px 20px;
}
.grid_4 > a > span{
  margin: 5px 0px 0px 0px !important;
  display: block;
}
.cos_border{
  border-radius: 0px 0px 10px 10px;
  padding: 10px;
  //border: rgb(159, 169, 216, 0.5) solid 1px;
}


code{
	font-family: 'MaruBuri';
	font-size: 0.9rem !important;
	word-spacing: 5px;
	line-height: 1.5rem;
	letter-spacing: 1px;
}
.gradation{
	background: linear-gradient(to right, #A7A3FF,#FFA7A3, #671cc4, #5673bd) !important; 
	-webkit-background-clip: text; -webkit-text-fill-color: transparent; font-weight: bold;
}
pre.highlight{
  margin: 0 !important;
}
div.highlight>button{
  right: 0 !important;
}
.highlighter-rouge{
  margin-bottom: 10px !important;
}
span.c1{
  font-style: normal !important;
}

/*목차*/
#markdown-toc{
  width: 100% !important;
  position: relative !important;
  border: none !important;
  background: #f9f9f9 !important;
  border-radius: 10px !important;
  padding-top: 35px !important;
  padding-bottom: 20px !important;
  margin: 0px !important;
}
#markdown-toc:before {
  content: "목차 (Table of Contents)" !important;
  margin-top: 10px !important;
  font-size: 12px !important;
}
#markdown-toc > li > ul, blockquote > ul{
  margin: 0;
}


