---
---
$baseurl: "{{ site.baseurl }}";

@font-face {
    font-family: 'Ownglyph_ryuttung-Rg';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2405-2@1.0/Ownglyph_ryuttung-Rg.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

html, body {
  margin:0;
  padding:0;
}

.fonts-loaded {
  span, p, h1, h2, h3, p.category, p.date, p.title , #related-box span, li, ul, th, td{ font-family: 'Pretendard-Regular'; }
  a, mark {font-family: 'Ownglyph_ryuttung-Rg'}
}

a, span, p, p.category, p.date, p.title, span.post-title, h1, h2, h3, a.txt_post, li, ul,th, td {font-family: 'Pretendard-Regular' }
.tag-box span, span.info-box, #contact span, a.info-box.category-box .category-tree *, mark{ font-family: 'Ownglyph_ryuttung-Rg' !important;}

a { text-decoration:none; }
a, span, p, h1, h2, h3, i { color:#3A241A; }
mark{  background-color:transparent; }
h1, h2, h3, mark {margin:0;}


svg {
  width:16px;
  aspect-ratio:1.0;
  fill:#3A241A;
  display:block;
  margin:auto;
}
button {
  border:none;
  background:none;
  padding:0;
}


/* Disable default input cancel button */
input::-ms-clear,
input::-ms-reveal{
	display:none;
  width:0;
  height:0;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration{
	display:none;
}

@import 'vars';
@import 'layout';

:root{
  --pagewidth-desktop:calc(max(min(100vw - #{$sidebarwd} - 2rem, #{$contentwd}), 44rem));
}



@import "sidebar";
@import "navigation";
@import "pagination";
@import "toc";
@import "post";
@import "search";
@import "darkmode";
